body { font-family: Arial; background:#f7f7f7; text-align:center; padding:20px;}
h2 { color:#333; }
.card{
    width:60%;
    background:#fff;
    margin:auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    margin-bottom:20px;
}
textarea{width:90%; height:80px; margin-top:10px;}
button{
    background:#006eff;color:white;padding:8px 15px;
    border:none;border-radius:5px;margin-top:10px;cursor:pointer;
}
#responseBox {
    width:60%;background:#fff;padding:20px;margin:auto;border-radius:10px;
    text-align:left;white-space:pre-line;
}
